<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cast</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/casting">Cast</a></li>
              <li class="breadcrumb-item active">New Cast</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="card-body">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Add Cast</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/casting/add" method="post" enctype="multipart/form-data">
                      <div class="card-body">
                        <div class="form-group">
                          <label for="nama">Nama</label>
                          <input type="text" name="nama" class="form-control" id="nama" placeholder="Masukan Nama Cast" required>
                        </div>
                        <div class="form-group">
                          <label>Film</label>
                          <select class="form-control select2" style="width: 100%;" name="id_content" required>
                            <option selected="selected">Pilih Film</option>
                            <% content.forEach(content=>{ %>
                              <option value="<%= content.id %>"><%= content.nama %></option>
                            <% }) %> 
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="foto">Foto</label>
                          <input type="file" name="foto" class="form-control" id="foto" placeholder="Masukan Foto">
                          <br >
                          <img src="" id="preview"> 
                        </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
              </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  function readURL (input){
    if(input.files && input.files[0]){
      const reader = new FileReader();

      reader.onload = function(e){
        $('#preview').attr('src', e.target.result);
        $('#preview').attr('width', '20%');
        $('#preview').attr('height', '20%');
      }

      reader.readAsDataURL(input.files[0])
    }
  }

  $('#foto').change(function(){
    readURL(this)
  })
</script>