<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Product</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Product</a></li>
            <li class="breadcrumb-item active">New Product</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Product</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/product/add" method="POST" enctype="multipart/form-data">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Product Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Enter The Product Name" required>
                </div>
                <div class="form-group">
                  <label>Category</label>
                  <select class="form-control select2" style="width: 100%;" name="id_category" required>
                    <option selected="selected">Select Category</option>
                    <% category.forEach(category=>{ %>
                      <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                    
                  </select>
                </div>
                <div class="form-group">
                  <label>Specification</label>
                  <div class="select2-purple">
                    <select name="specification" class="form-control select2" multiple="multiple" data-placeholder="Select Specification" style="width: 100%;" required >
                        <% specification.forEach(specification=>{ %>
                            <option value="<%= specification.id %>"><%= specification.type %> <%= specification.type_name %></option>
                          <% }) %>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input type="file" name="image" class="form-control" id="image" placeholder="Enter Image">
                  <br >
                  <img src="" id="preview"> 
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>

<script>
  function readURL (input){
    if(input.files && input.files[0]){
      const reader = new FileReader();

      reader.onload = function(e){
        $('#preview').attr('src', e.target.result);
        $('#preview').attr('width', '20%');
        $('#preview').attr('height', '20%');
      }

      reader.readAsDataURL(input.files[0])
    }
  }

  $('#image').change(function(){
    readURL(this)
  })
</script>